<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>CH86 DB2</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<h1>CH86 User Table Query</h1>

<form name="runQuery">
<table>
	<tr>
		<td>
			QHBDにLogin
		</td>
		<td>
			<img src="images/qhbd/1.png">
		</td>
	</tr>
	<tr>
		<td>
			COMMAND==> QでQMFに入る
		</td>
		<td>
			<img src="images/qhbd/2.png">
		</td>
	</tr>
</table>

PF8キーを押す

NameにCH86U1.CH86USERと入力
ModeをADDに変更
上記入力の上実行


</body>
</html>